<div class="container">
  <mat-toolbar color="primary">
    <h1>mParticle</h1>
    <span class="spacer"></span>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>notifications_active</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'over'" [position]="'end'" [autoFocus]="false">
      <app-notifications-list
      [opened]="snav.opened"
      (onMarkAsRead)="snav.toggle()"
      (onMarkAllAsRead)="snav.toggle()"
      ></app-notifications-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>